<hr>

<h1>Benutzer ändern</h1>

<hr>

<%= form_for @user do |f| %>

  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Errors:</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <p> <small>Freilassen = Keine Änderung</small>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  
  <% if current_user.role =="Superadmin" %>
    <p>
    	<%= f.label :role, "Rollen" %><br />
    	<%= f.select(:role, options_for_select([['Superadmin',"Superadmin"], ['Admin',"Admin"], ['Member',"Member"]]) ) %>
    </p>
    <p>
    	<%= f.label :status, "Status" %><br />
    	<%= f.select(:status, options_for_select([['aktiviert',"aktiviert"], ['deaktiviert',"deaktiviert"], ['gesperrt',"gesperrt"]]) ) %>
    </p>
    <% else %>
    <p>
    	<%= f.label :role, "Rollen" %><br />
    	<%= f.select(:role, options_for_select([['Admin',"Admin"], ['Member',"Member"]]) ) %>
    </p>
  <% end %>
  
  <p><%= f.submit "Update"; %></p>

<% end %>

<hr>
	<p>
		<%= link_to "Post hinzufügen", new_post_path %> | 
		<%= link_to "Benutzer hinzufügen", new_user_path %> |
    	<%= link_to "Zum Benutzer-Index", users_path %> |
		<%= link_to "Zum Post-Index", posts_path %>
    <p>

