<hr>

<h1>Nachricht ändern</h1>

<hr>

<%= form_for @post do |f| %>

<% if @post.errors.any? %>
<h2>Errors:
	<ul>
		<% @post.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
<% end %>

	<p>
		<%= f.label :title, "Titel" %><br />
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :content , "Nachricht"%><br />
		<%= f.text_area :content %>
	</p>
	<p>
		<%= f.submit "Update"; %>
	</p>
<% end %>

<hr>

<p><%= link_to "Nachrichten-Index", posts_path %> |
   <%= link_to "Löschen", :post, :confirm => "Sicher?", :method => :delete %>
</p>
