<% if current_user %>
<hr>
<h1>Einen Eintrag hinzufügen</h1>
<hr>
<%= form_for @post do |f| %>

<% if @post.errors.any? %>
<h2>Errors:
	<ul>
		<% @post.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
<% end %>

	<p>
		<%= f.label :title %><br />
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :content %><br />
		<%= f.text_area :content %>
	</p>
	<p>
		<%= f.submit "Hinzufügen"; %>
	</p>
<% end %>
<hr>
<p><%= link_to "Nachrichten-Index", posts_path %><p>
	
<% else %>

<p>
	Sie habe keine Berechtigung, diesen Inhalt zu sehen.
</p>

<% end %>