    <hr>
    
    <h1><%= @post.title %></h1>
    
    <hr>
    
    <p class="content_txt"><pre><%= @post.content %></pre></p>
    
    <small>Nachricht am <%= localize(@post.created_at, :format => :sample) %></small>
    
    <p>
    	<%= link_to "Update", edit_post_path %> |
    		<%= link_to "Löschen", :post, :confirm => "Sicher?", :method => :delete %>
    </p>
    
    <hr>
    
    <p>
    	<%= link_to "Nachrichten-Index", posts_path %>
    </p>