   	<% if action_name == "show" %>
    
    	<hr /> 
    		
    <% end %>
    
   	<% if action_name == "show" %>
    		
    <% end %>
    
    <p class="content_txt">
    	
    	<pre><br /><strong><%= @post.title %></strong><br /><br /><%= @post.content %>
    	</pre>
    	
    	<small>
    		Kunden-Information vom <%= localize(@post.created_at, :format => :sample) %>
    	</small>
    	
    </p>
    
    
    <% if current_user.role == "Superadmin" or current_user.role == "Admin" %>
    <p>
    	<%= link_to "Update", edit_post_path %> |
    	<%= link_to "Löschen", :post, :confirm => "Sicher?", :method => :delete %>
    </p>
    <% end %>
    <hr>
    
    <p>
    	<%= link_to "Zurück zum Kundencenter", posts_path %>
    </p>
    