<!DOCTYPE html>
	<html>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
			<head>
  				
  				<title>Kundencenter</title>
				
  				<%= stylesheet_link_tag    "application", :media => "all" %>
  				<%= javascript_include_tag "application" %>
  				<%= csrf_meta_tags %>
  
			</head>
	<body>

		<% flash.each do |name, msg| %>
  			
  			<%= content_tag :div, msg, :id => "flash_#{name}" %>
  		
 			<br />

		<% end %>
	
<div>
	
  <% if current_user %>
    

    
    <p id="user_info">
    	
    	Eingeloggt als <b><%= current_user.email %></b> (<%= current_user.role %>) | <b>Kontostand:</b> 20,00 Euro | <b>Ayofone-ID:</b> 123456 |  
    	
    		<% if action_name != "show" or controller_name == "posts" and controller_name != "accounts" %>
			
				<%= link_to "Ihr Konto", account_path(1) %> |
			
			<% end %>
			
    		<% if action_name != "show" and controller_name == "accounts" %>
			
				<%= link_to "Konto", account_path(1) %> |
			
			<% end %>
			
			<% if action_name == "show" and controller_name == "users" or controller_name == "accounts" %>
			
				<%= link_to "Konto verlassen", posts_path %> |
			
			<% end %>
		    
   			<%= link_to "Log out", log_out_path %>
    </p>
    
   	 <% if action_name == "show" and controller_name == "accounts" %>

		<p id="kundencenter_nav">
       			<%= link_to "Startseite", account_path(1) %> | 
       			<%= link_to "So funktioniert's", account_path(2) %> | 
       			<%= link_to "Tarifübersicht", account_path(3) %> | 
       			<%= link_to "FAQ", account_path(4) %> 
       			
   		</p>
    
    	<h1>
    		<% if controller_name == "accounts" %>
    			
    			<% if @account.title != "Konto aufladen" and @account.id > 10 %>
    			
    			Konto - Einstellungen
    			
    			<% end %> 
    			
    			<% if @account.title != "Konto aufladen" and @account.id < 11 %> 
    		
    			Konto - <%= @account.title %>
    			
    			<% else %>
    			
    				<% if @account.id < 10 %> 
    				
    				<%= @account.title %>		
    						
    				<% end %>
    				
    			<% end %>
    			
    		<% end %>
    		
    	</h1>
    	
    	<p id="konto_nav">
       		<%= link_to "Konto aufladen", account_path(5) %> | 
       		<%= link_to "Telefonbuch", account_path(6) %> | 
       		<%= link_to "Phone", account_path(7) %> | 
       		<%= link_to "SMS", account_path(8) %> | 
       		<%= link_to "Rechungen", account_path(9) %> |
       		<span id="einstellungen_link"><%= link_to "Einstellungen", account_path(10) %></span>
       		
            <% if current_user.role == "Superadmin" or current_user.role == "Admin" %> 
            
       			| <span id="admin_link"><%= link_to "Administration", account_path(17) %></span>
       			
       	   <% end %>
       	   
    	</p>
    	
    	
	<% end %>
    
    
    
    
    <% if action_name != "show" or controller_name == "posts" %>
    
    <% end %>
    
  <% end %>
  
	</div>

		<%= yield %>

</body>

</html>
