<% if User.find(session[:user_id]).role == "Superadmin" %> 	
   	<% if action_name == "edit" %>
    
    	<hr /> 
    		
    <% end %>
    
<h1>Konto-Bereich umbenenne</h1>

<hr>

<%= form_for @account do |f| %>

<% if @account.errors.any? %>
<h2>Errors:
	<ul>
		<% @account.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
<% end %>

	<p>
		<%= f.label :title, "Titel" %><br />
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.submit "Update"; %>
	</p>
<% end %>

<hr>

<p><%= link_to "Administration", posts_path %> |
   <%= link_to "Löschen", :post, :confirm => "Sicher?", :method => :delete %>
</p>
    
<% end %>